# https://github.com/GoogleCloudPlatform/python-docs-samples/blob/main/.dockerignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.git
.gitignore
.dockerignore
docker-compose.yml
README.md
.DS_Store
.env
.env.local
.vscode/
.idea/
*.swp
*.swo
*~
